@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@400;500;600;700&family=Pacifico&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url(img/bg.jpg);
  background-size: cover;
}

.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  background-color: #293447;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

.game-details {
  color: white;
  font-weight: 500;
  font-size: 1rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
  background: #ff003d;
}

.play-board .head {
  background: #9ce160;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls i {
  padding: 18px 0;
  text-align: center;
  font-size: 1rem;
  color: #fde93b;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171b26;
}

/* Responsif */
@media screen and (max-width: 800px) {
  .wrapper {
    width: 80vmin;
    height: 90vmin;
  }

  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }

  .controls {
    display: flex;
  }

  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
